In [ ]:
##-- SESSION 1 - Python Basics-Session-1-Joseph-11/06/20 -- ##

In [1]:
print('Hello World')  # First Program

Hello World

In [2]:
print('I am "happy" to learn')  # Hata vermez
print("I am "happy" to learn')  # Hata verir

SyntaxError: invalid syntax (<ipython-input-2-1195d5cd42e3>, line 2)

In [3]:
print(''' Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit ametLorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet''')

print(""" Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit ametLorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet""")  ## --Triple use of 'single and double quotes' Daha çok birden fazla satırdan oluşan çıktılarda kullanılır.

Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit ametLorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet Lorem lorem ipsum dolor sit amet

In [5]:
def function():  # Don't be confused, we use 'def()' to create a function. 
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)  # Docstrings are an explanatory text.

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [6]:
print(print.__doc__)  #Display the docstring of the print function.

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
##-- Python Basics-Session-2-Joseph-13/06/20 -- ##

In [7]:
yas = 40  # Variable atamalarda küçük harf kullanıyoruz. Built in functionları değişken olarak atamıyoruz.
isim = "joseph"
day = "saturday"
print(yas, isim, day)

40 joseph saturday

In [10]:
january = march = may = july = august = october = december = 31  #değişkenleri birbirine eşitledik
april = june = september = november = 30
february = 28
print(january, february, march, april, may, june, july, august, september, october, november, december)

31 28 31 30 31 30 31 31 30 31 30 31

In [11]:
x = 15
y = 33
z = x
x = y
print(x, y, z)

33 33 15

In [14]:
a, b, c = 5, 3.2, "Hello"
print(a, b, c)
print(a, b, c, sep=", ") # Değerleri arasına virgül koyarak ayırır. Varsayılan eğeri boşluktur.

5 3.2 Hello
5, 3.2, Hello

In [15]:
my_data = "I am String"
print(type(my_data))

<class 'str'>

In [16]:
pi = 3.14
converted_pi = str(pi)  # converting float to string
print(converted_pi)
print(type(converted_pi))

3.14
<class 'str'>

In [17]:
pi = 3.14
converted_pi = int(pi)  # converting float to int
print(converted_pi)
print(type(converted_pi))

3
<class 'int'>

In [18]:
no = 3.14
converted_no = float(no)  # converting int to float
print(converted_no)
print(type(converted_no))

3.14
<class 'float'>

In [20]:
number1 = 123  # int ve float toplanabilir. sonuç float döner.
number2 = 1.23
print(number1 + number2)

124.23

In [ ]:
##-- Python Basics-Session-3-Joseph-14/06/20 -- ##

In [ ]:
#  int() – converts some data types into integer type.
#  float() – converts some data types into float type.
#  str() – converts any data type into string type.

In [21]:
number_int = 123  # int ve string toplanamaz. hata döner.
number_str = "456" 
print(number_int + number_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#  -= decrements the variable in place, SUBTRACTION
#  += increment the variable in place,  ADDITION
#  *= multiply the variable in place,   MULTIPLATION
#  /= divide the variable in place,     DIVISION
#  //= ﬂoor divide the variable in place, FLOOR DIVISION
#  %= returns the modulus of the variable in place, MODULUS
#  **= raise to power in place.               EXPONENTIATION

In [28]:
print(27 % 2) # Çok fazla kullanımı var. özellikle çift ve tak işlemlerinde kullanılır.
print(27 % 4)
print(11 // 2) #  Floor Division sayının tam kısmını alır.
print(5**3)

1
3
5
125

In [29]:
print(27 - 5)
print("27 - 5")

22
27 - 5

In [32]:
a =2
b = 8
print((a * b) ** 0.5)  # square root

4.0

In [33]:
x = 5
x = x + 2
print(x)
x +=2
print(x)

7
9

In [35]:
a = 3
a *= 2
print(a)

6

In [ ]:
# # İŞlem sırası
# 1. parentheses : ()
# 2. power : **
# 3. unary minus : -3
# 4. division and multiplication : *, /
# 5. addition and subtraction: +,-

In [36]:
a = (1 + 3) ** (2 ** (1 * 2 / 2) / 2)
print(a)

4.0

In [ ]:
##-- Python Basics-Session-4-Joseph-20/06/20 -- ##

In [2]:
# calculate the hypotenuse of the triangle
a = 3
b = 4
c = (a ** 2 + b ** 2) ** 0.5
print(c)

5.0

In [ ]:
# print() function
# print(value, ...,  sep=" ", end="\n") separation argument default value = space  end default value = newline

In [3]:
print("ahmet", "mehmet", "aslı", sep="---")

ahmet---mehmet---aslı

In [4]:
print("ahmet", "mehmet", "aslı", sep="---", end=" ") #end boşluk değeri aldığı aynı satıra yazar.
print("ahmet", "mehmet", "aslı", sep="---")

ahmet---mehmet---aslı ahmet---mehmet---aslı

In [ ]:
# Escape Sequences
# \n : means new line  \t  tab mark  \b backspace It moves the cursor one character to the left

In [5]:
print('C:\\north pole\noise_penguins.txt')
print('---------------')
print("first", "second", "third", sep="\t")

C:\north pole
oise_penguins.txt
---------------
first	second	third

In [6]:
print("benim \"bugün\" en mutlu günüm")

benim "bugün" en mutlu günüm

In [ ]:
#and = hepsi true is true döner or = herhangi biri true olursa sonuç true döner
# Priorities  1- not  2- and   3- or

In [8]:
print(1 and 0)
print(not 0)

0
True

In [ ]:
# None, 0, 0.0, 0j, "", [], {} False döndürür. Diğer değerler True döndürür

In [9]:
print(1 and "joseph" and "istanbul") # sonuç and de hepsi True ise en son değer döner

istanbul

In [16]:
print("" or "joseph" or "istanbul" or 0)# sonuç orda True dönüyorsa ilk True döner

joseph

In [15]:
print("hasan" and 0 and "joseph" and "istanbul" and '') # sonuç false ise ilk değer döner

0

In [23]:
print(2 and 3)
print(1 and 0 or 1 or 0) 
print(2 or 3)
print(None or 4)

3
1
2
4

In [24]:
print(2 and "hello")
print([] and "be happy")
print(None and ())
print(None or ())

hello
[]
None
()

In [ ]:
##-- Python Basics-Session-5-Joseph-20/06/20 Session-6-Joseph-25/06/20MAIN STRING OPERATIONS -- ##

In [5]:
fruit = "Orange"
print(fruit[2:5])
print(fruit[::-1])

ang
egnarO

In [7]:
fruit = "Orange"
print(fruit[2:5])
print(fruit[2:])
print(fruit[::2])

ang
ange
Oag

In [9]:
str_one = 'upper'
str_two = 3 * 'upper'
str_comb = 3 * str_one
print(str_two)
print(str_one)
print(* str_one)  # * separates the string into its element

upperupperupper
upper
u p p e r

In [10]:
str1 = "I AM ANGRY"
print(* str1)

I   A M   A N G R Y

In [12]:
age = 33
dollar = 2000
print("I am %d I have %.2f dollars." % (age, dollar))

I am 33 I have 2000.00 dollars.

In [14]:
phrase = "{2} {3} {1} {0}".format("circumstances", "in all", "generosity", "wins")
print(phrase)

generosity wins in all circumstances

In [15]:
fruit = "orange"
vegetable = "spanich"
amount = 6
output = f"I bought {amount} {fruit} and {amount} {vegetable} from grocery store"
print(output)

I bought 6 orange and 6 spanich from grocery store

In [16]:
sample = f"{2 ** 3}"
print(sample)

8

In [19]:
name = "MARIAM"
print(f"My name is {name.capitalize()}")

My name is Mariam

In [22]:
name = "hasan"
job = "student"
message= (
    f"Hi {name} "
    f"You are one of the {job}"
)
print(message)

Hi hasan You are one of the student

In [23]:
name = "hasan"
job = "student"
message= f"Hi {name} " \   
    f"You are one of the {job}" # \ satırı böler bu şekilde parantez yazmamıza gerek yok
print(message)

Hi hasan You are one of the student

In [24]:
var_string = "ClarusWay"
print(var_string.lower()) # Biz stringi değiştiremiyoruz. 
print(var_string)
var_string_new = var_string.lower() Değiştirmek için yeni bir değişkene atıyoruz.
print(var_string_new)

clarusway
ClarusWay
clarusway

In [ ]:
# .startswith() and  .endswith()  True yada False döndürür.

In [25]:
text = "www.clarusway.com"
print(text.endswith(".com"))
print(text.startswith("http:"))

True
False

In [30]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 25 , 32)) # 25. karekterden başlar 32 hariç kontrol eder.
print(email.endswith("-", 2 , 33))

True
True
False

In [34]:
"ahmet".startswith(("a", "h"), 2) # 2. indexten itibaren kontrol eder a veya h ile mi başlıyor diye kontroleder

False

In [33]:
"ahmet".startswith(("a", "h", "m"), 2)

True

In [35]:
"a-h-m-e-t".replace("-", "",2)

'ahm-e-t'

In [36]:
sentence = "I live and work in Virginia"
print(sentence.upper())
print(sentence.lower())
print(sentence.swapcase())
print(sentence.title())

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I Live And Work In Virginia

In [37]:
space_string = "             listen first         "
print(space_string.strip())

listen first

In [1]:
source_string= "interoperabilitiiiy" #başta sonda bulunan i ve y silinir iy ve yi de dahil
print(source_string.strip("yi"))

nteroperabilit

In [ ]:
# Python Basics-Session-7-Joseph-27/06/20 Editing String

In [2]:
text = "In God wee Trust"
print(text.replace("ee", "e"))

In God we Trust

In [3]:
text = "In God wee Trust"
print(text[:9] + text[10:])

In God we Trust

In [4]:
text = "{:.2f}, {:.2f}, {:.3f}".format(3.1426, 5.3678, 7.324324)
print(text)

3.14, 5.37, 7.324

In [6]:
text = "{:.4s}, {:.2s}, {:.3s}".format("3.1426", "5.3678", "7.324324")
print(text)

3.14, 5., 7.3

In [9]:
text1 = "formatlama  {:>30}  formatlama".format("test test") #sağa doğru çıktı alır
print(text1)

formatlama                       test test  formatlama

In [10]:
text1 = "formatlama  {:<30}  formatlama".format("test test")#sola doğru çıktı alır
print(text1)

formatlama  test test                       formatlama

In [11]:
text1 = "formatlama  {:^30}  formatlama".format("test test")#ortaya doğru çıktı alır
print(text1)

formatlama            test test             formatlama

In [ ]:
# Python Basics-Session-8-Joseph-28/06/20  Listeler

In [1]:
# listeler içinde birden fazla value tutulabilen collectionlardır.
city = ["los angeles", "beirut", "tokyo"]
city[1:] = "seoul"
print(city)

['los angeles', 's', 'e', 'o', 'u', 'l']

In [2]:
aa = [1,2,3,4,5]
aa[1] = 258
print(aa)

[1, 258, 3, 4, 5]

In [3]:
aa = [1,2,3,4,5]
aa[1:] = "clarusway" #1. indexden sonra sona kadar ekler
print(aa)

[1, 'c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [4]:
my_list = ["joseph", "Clarusway", 2020]
newlist1 = list(my_list)
newlist2 = [my_list]
print(newlist1)
print(len(newlist1))
print(newlist2)
print(len(newlist2))

['joseph', 'Clarusway', 2020]
3
[['joseph', 'Clarusway', 2020]]
1

In [5]:
numbers = [1, 4, 7]
numbers.append(9) # listenin sonuna ekler.
numbers.append("9")
print(numbers)

[1, 4, 7, 9, '9']

In [6]:
numbers = [1, 4, 7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6) # istediğimiz index numarasına ekler
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [7]:
numbers = [1, 4, 7,9]
numbers.remove(7) # listeden eleman siler
print(numbers)

[1, 4, 9]

In [8]:
numbers = [1, 4, 6, 9, 7]
numbers.sort() # sıralama yapar
print(numbers)

[1, 4, 6, 7, 9]

In [11]:
list1 = ["nine","one", "four", "eight"]
list1.sort()
print(list1)

['eight', 'four', 'nine', 'one']

In [14]:
list5 = [[1, 3], [44, -40], [-12, 1]]
list5.sort()
print(list5)
print(len(list5))

[[-12, 1], [1, 3], [44, -40]]
3

In [ ]:
# Accessing List

In [18]:
city = ["adana", "ankara", "aydın", "aksaray"]
city_list = []
city_list.append(city) # we have created a nested list
print(city_list)
print(city_list[0])
print(city_list[0][2]) # aydın çıktısı alırız
print(city_list[0][2][3])

[['adana', 'ankara', 'aydın', 'aksaray']]
['adana', 'ankara', 'aydın', 'aksaray']
aydın
ı

In [20]:
list = list(range(11))
list[1:11:2]

[1, 3, 5, 7, 9]

In [21]:
city = ["adana", "ankara", "aydın", "aksaray"]
print(city[-3])

ankara

In [22]:
city = ["adana", "ankara", "aydın", "aksaray"]
print(city[::-1]) # sondan başa doğru yazar

['aksaray', 'aydın', 'ankara', 'adana']

In [1]:
list = list(range(11))
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Python Basics-Session-9-Joseph-02/07/20 TUPLES / DICTIONARIES

In [6]:
my = [[1,2,3]][0]
print(my)
print(len(my))

[1, 2, 3]
3

In [ ]:
# TUPLES IMMUTABLE DIR. .append() aremocve(yoktur) it is faster than list

In [7]:
tuple1 = ("h","a","p","p","y")
word = "happy"
tuple2 = tuple(word)
print(tuple1)
print(tuple2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [10]:
my_tuple = ("Solar")
print(type(my_tuple))
my_real_tuple = ("solor",) #tuple olması için virgülü unutma
print(type(my_real_tuple))

<class 'str'>
<class 'tuple'>

In [11]:
solar = "earth", "venus", "uranus"
print(solar, type(solar), sep="\n")

('earth', 'venus', 'uranus')
<class 'tuple'>

In [12]:
mountain = tuple("Alps")
print(mountain)

('A', 'l', 'p', 's')

In [17]:
number = tuple(range(1,11))
print(number, type(number))
print(number[2:5])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
(3, 4, 5)

In [16]:
number = range(1,11) #bu şekilde tuple olmaz ama 
print(number, type(number))

range(1, 11) <class 'range'>

In [19]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair")) # fair elamanına ait
print(mix_tuple[-1][1])
print(mix_tuple[3][1])

fair
fair

In [ ]:
# DICTIONARIES each pair has key and value

In [21]:
grocer1 = {"fruit" : "apple", "drink" : "water"}
grocer2 = dict(fruit = "apple", drink = "water")
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [24]:
state_capitals = {
    "arkansas" : "Litle rock",
    "colorado" : "Denver",
    "california" : "sacramento",
    "georgia" : "atlanta"
}
print(state_capitals["colorado"])

Denver

In [25]:
state_capitals["Virginia"] = "Richmond" #adding a new item to dictionary
print(state_capitals)

{'arkansas': 'Litle rock', 'colorado': 'Denver', 'california': 'sacramento', 'georgia': 'atlanta', 'Virginia': 'Richmond'}

In [26]:
 dict_by_dict = dict(animal = "dog", planet = {"neptun"}, number = {40}, is_good = True)
 print(dict_by_dict)

{'animal': 'dog', 'planet': {'neptun'}, 'number': {40}, 'is_good': True}

In [27]:
dict_by_dict["country"] = "Turkey"
print(dict_by_dict)

{'animal': 'dog', 'planet': {'neptun'}, 'number': {40}, 'is_good': True, 'country': 'Turkey'}

In [35]:
print((dict_by_dict.items()))
print(dict_by_dict.keys())
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', {'neptun'}), ('number', {40}), ('is_good', True), ('country', 'Turkey')])
dict_keys(['animal', 'planet', 'number', 'is_good', 'country'])
dict_values(['dog', {'neptun'}, {40}, True, 'Turkey'])

In [38]:
dict_by_dict.update({"is_bad" : False})

In [39]:
print(dict_by_dict)

{'animal': 'dog', 'planet': {'neptun'}, 'number': {40}, 'is_good': True, 'country': 'Turkey', 'is_bad': False}

In [41]:
del dict_by_dict["is_bad"]

In [42]:
print(dict_by_dict)

{'animal': 'dog', 'planet': {'neptun'}, 'number': {40}, 'is_good': True, 'country': 'Turkey'}

In [44]:
print("pi" in dict_by_dict)
print("animal" not in dict_by_dict)

False
False

In [ ]:
# Python Basics-Lab-Session - 1 -Joseph-22/06/20

In [2]:
# weekly pofit
deposit = 1000
deposit = deposit*(1.07 ** 7)
print(round(deposit, 2))

1605.78

In [5]:
print({0} and False or [])

[]

In [7]:
celsius = float(input("celcius ısı degeri giriniz"))
fahrenheit = (celsius * 1.8) + 32
output = f"Celcius derece olarak {celsius} degeri, {fahrenheit} fahrenheit eder "
print(output)

Celcius derece olarak 58.0 degeri, 136.4 fahrenheit eder

In [ ]:
# Python Basics-Session-10-Joseph-04/07/20 sets ve condıtıonal statements

In [ ]:
# creating set

In [10]:
set_1 = {"red", "blue", "pink", "red"} # bu şekilde oluşturulabilir
colors = "red", "blue", "pink", "red" # bu şekilde tuple
set_2 = set(colors) # bu şekilde set oluşturulur
print(set_1, set_2, sep="\n")

{'blue', 'pink', 'red'}
{'blue', 'pink', 'red'}

In [11]:
c = {"carnation", "orchid", "rose", "violet"}
d = {"rose", "orchid", "rose", "violet", "carnation"} # ikiside aynı çıktıyı verir. Set aynı elemanları sadece bir kere çıktı verir
print(a, b, sep='\n')

{'violet', 'carnation', 'rose', 'orchid'}
{'violet', 'carnation', 'rose', 'orchid'}

In [13]:
#.add(), .remove(), .intersection(), .union(), .difference() 

a = set("philadelphia")
b = set("dolphin")

In [14]:
print(a)

{'p', 'l', 'i', 'e', 'h', 'd', 'a'}

In [15]:
print(a-b)
print(a.difference(b)) # anın b den farkı

{'a', 'e'}
{'a', 'e'}

In [16]:
print(a | b)
print(a.union(b)) #a ile b birleşşimi

{'p', 'o', 'l', 'i', 'e', 'h', 'd', 'a', 'n'}
{'p', 'o', 'l', 'i', 'e', 'h', 'd', 'a', 'n'}

In [17]:
print(a & b)
print(a.intersection(b)) # a ile b nin kesişimi

{'p', 'l', 'i', 'h', 'd'}
{'p', 'l', 'i', 'h', 'd'}

In [18]:
a = set("07/04/2020")
b = {"07/04/2020"}
print(a, b, sep = "\n")

{'0', '4', '/', '2', '7'}
{'07/04/2020'}

In [21]:
# conditional Staments
#if
a = 1
b = 0
if a:
    print("hello")
if b:
    print("hi")

hello
hi

In [22]:
a = set("asap")
b = set("pasa")
if a == b:
    print("naber")

naber

In [25]:
convert = input("Enter Yes or No").title().strip() == "Yes"
print("you entered", convert)

you entered False

In [26]:
num = int(input("bir sayı giriniz"))
if num % 2 == 0:
    print("{} is a even".format(num))
else:
    print("{} is a odd".format(num))

5 is a odd

In [ ]:
# Python Basics-Session-11-Joseph-05/07/20 sets ve condıtıonal statements

In [2]:
year = int(input("Yılı giriniz :"))
leap_year = ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0)
result = (leap_year == True)*'artık yıldır.' + (leap_year == False)*'artık yıl değildir.'

print(f"girdiğiniz *{year:^8}* senesi {result:^16}!")

girdiğiniz *  2110  * senesi artık yıl değildir.!

In [4]:
sentence = input("Please write your sentences: ")
left_hand = ("q", "a", "z", "w", "s", "x", "e", "d",
             "c", "r", "f", "v", "t", "g", "b")
right_hand = ("y", "h", "n", "u", "j", "m", "ı", "k",
              "ö", "o", "l", "ç", "p", "ş", "ğ", "i", "ü")
a = set(sentence.lower())
b = set(right_hand)
c = set(left_hand)


#comfort_words = (bool((a.intersection(b)) and (a.intersection(c)))) buda kullanılabilir.
comfort_words = (bool((a & b) and (a & c)))
print("This sentences is comfort words." * (comfort_words))
print("This sentences is not comfort words." * (not comfort_words))

This sentences is not comfort words.

In [11]:
numbers = [1,3,7,4,3,0,3,6,3]
item = max(numbers, key= numbers.count)
print(item)
repetetion = numbers.count(item)
print(repetetion)
print(f"the most frequent number is {item} an it is {repetetion} times repeated")

3
4
the most frequent number is 3 an it is 4 times repeated

In [13]:
sehir = ["addis ababa", "tokyo", "rome", "istanbul"]
a =sorted(sehir, key= len)
print(a)

['rome', 'tokyo', 'istanbul', 'addis ababa']

In [14]:
samanlık = ["yumurta", "saman","tırpan","tezek", "igne", "inek", "su"]
samanlık.index("igne")

4

In [16]:
v = ("five", 5, True)
x,y,z = v
print(x,y,z, sep ="\n")

five
5
True

In [20]:
(mon, tues,wed,thrs,friday,saturday,sunday) = tuple(range(1,8))
tues

2

In [21]:
[1,2,3,4] + ["11", "22",33]

[1, 2, 3, 4, '11', '22', 33]

In [24]:
tt = (1, 2, [1,3,5])
tt[2].append(6)
print(tt)

(1, 2, [1, 3, 5, 6])

In [25]:
a, _, b, _ = (10, 20, 30, 40)
print(a,b)

10 30

In [26]:
x, y, *z = (11,22,33,44,55,66)
print(x,y,z, sep="\n")

11
22
[33, 44, 55, 66]

In [33]:
x, y, *_ = (11,22,33,44,55,66)
print(x,y,_, sep="\n")

11
22
[33, 44, 55, 66]

In [31]:
x, y, *z, t = (11,22,33,44,55,66)
print(x,y,z,t, sep="\n")

11
22
[33, 44, 55]
66

In [35]:
no1 = 10_000_000_000
no2 = 100_000_000
adding = no1 + no2
print(adding)
print(f"{adding:,}")

10100000000
10,100,000,000

In [ ]:
# Python Basics-Session-12-Joseph-07/07/20  and Python Basics-Session-13-Joseph-09/07/20  # loops

In [1]:
condition = (3 > 1) and (1 < 1)
if not condition:
    print("It works")
else:
    print("SOmething went wrong")

It works

In [3]:
times =  int(input("HOW MAny times should ı say I love you"))
for i in range(times):
    print("I LOVE YOU")

I LOVE YOU
I LOVE YOU
I LOVE YOU
I LOVE YOU
I LOVE YOU

In [4]:
times = int(input("enter the number for create multiplacition table"))
for i in range(1,11):
    print(times,"x",i, " = ",(times*i))

6 x 1  =  6
6 x 2  =  12
6 x 3  =  18
6 x 4  =  24
6 x 5  =  30
6 x 6  =  36
6 x 7  =  42
6 x 8  =  48
6 x 9  =  54
6 x 10  =  60

In [6]:
print(range(1,50,2)) #range ketum nazlı :)) bunu ya listle çözüyoruz yada * ile çözebiliriz.
print(*range(1,50,2))

range(1, 50, 2)
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [7]:
print(*range(1,25,2))

1 3 5 7 9 11 13 15 17 19 21 23

In [15]:
print(*("separate"))

s e p a r a t e

In [12]:
print(*range(10,0,-2))

10 8 6 4 2

In [18]:
print(*range(-33,-99,-3))

-33 -36 -39 -42 -45 -48 -51 -54 -57 -60 -63 -66 -69 -72 -75 -78 -81 -84 -87 -90 -93 -96

In [19]:
text = ["one","two","three","four","five"]
numbers = [1,2,3,4,5]
for x, y in zip(text,numbers):
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [23]:
text = ["one","two","three","four","five"]
numbers = [1,2,3,4,5]
print(list(zip(text,numbers)))
print(dict(zip(text,numbers))) #zip dict ile çok uyumludur

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [21]:
text = ["one","two","three","four","five"]
numbers = [1,2,3,4,5]
for x in zip(text,numbers):
    print(x)

('one', 1)
('two', 2)
('three', 3)
('four', 4)
('five', 5)

In [32]:
text = ["one","two","three","four","five"]
print(list(zip(*text)))
print(list(zip(text)))

[('o', 't', 't', 'f', 'f'), ('n', 'w', 'h', 'o', 'i'), ('e', 'o', 'r', 'u', 'v')]
[('one',), ('two',), ('three',), ('four',), ('five',)]

In [33]:
text = [["one","two","three","four","five"],[1,2,3,4,5]]
print(list(zip(*text)))
print(list(zip(text)))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[(['one', 'two', 'three', 'four', 'five'],), ([1, 2, 3, 4, 5],)]

In [45]:
example_list = [11,36,33,66,89,21,32,16,10]
odd = []
even =[]
for i in example_list:
    if i % 2 == 0:
        even.append(i)
    if i % 2 != 0:
        odd.append(i)
print(f"The list and number of the odd = {odd, len(odd)} \nThe list and number of the odd = {even, len(even)}")

The list and number of the odd = ([11, 33, 89, 21], 4)
The list and number of the odd = ([36, 66, 32, 16, 10], 5)

In [57]:
for i in range(10):
    print(str(i)* i)
for i in range(9,1,-1):
    print(str(i)* i)

1
22
333
4444
55555
666666
7777777
88888888
999999999
999999999
88888888
7777777
666666
55555
4444
333
22

In [61]:
print(sum(range(1,75)))

2775

In [62]:
sum_count = 0
for i in range(1,75):
    sum_count +=i
print(sum_count)

2775

In [66]:
who = ["I am ", "you are "]
mood = ["happy","confident" ]
for i in who:
    for j in mood:
        print(i + j)

I am happy
I am confident
you are happy
you are confident

In [67]:
count = 0
while count >= 0:
    print(count)
    count += 1
    if count == 10:
        break

0
1
2
3
4
5
6
7
8
9

In [68]:
count = 0 # yukarıdaki kod ile aynı sonucu verir
while count >= 0:
    print(count)
    count += 1
    if count == 10:
        count = -1

0
1
2
3
4
5
6
7
8
9

In [ ]:
################################################
#Python Basics Plus#    #    # #####   #### ####   #Python Basics Plus# 
######################### ##########  ###  ###  ##### ###

In [ ]:
###  Python Basics Plus-Session-14-Joseph-11/07/20 FUNCTIONS

In [70]:
# all() function iterable ile çalışır hepsi true ise tru döndürür. Bir tane bile false varsa false döner. Dikkat boş kümede true döndürür
names = ["susan", "tom","False"]
mood = ["happy", "sad", 0]
empty = {}
print(all(names), all(mood), all(empty), sep="\n")

False
False
True

In [73]:
names = ["susan", "tom","False",""]
mood = ["happy", "sad", "0"]
empty = {""}
print(all(names), all(mood), all(empty), sep="\n")

False
True
False

In [75]:
# any() function iterable ile çalışır bir tane bile  true ise tru döndürür. hepsi false ise false boş küme ve listede false döndürür
names = ["susan", "tom",False]
mood = [None, (), 0]
empty = {}
print(any(names), any(mood), any(empty), sep="\n")

True
False
False

In [76]:
def my_sum(*args):
    return sum(args)
print(my_sum(10, -20, 30, 40))

60

In [1]:
def my_sum(*args):
    total = 0
    for i in args:
        total += i
    return total
print(my_sum(9, 1, 3, 0, -1))

12

In [77]:
# filter listeleme için kullanılır
lista = ["susan", "tom",False,0,"0"]
filter_list = filter(None, lista) # burada fonksiyon vermediğimiz için None yazdık
print(list(filter_list)) # sadece true olanları çıktı verir

['susan', 'tom', '0']

In [78]:
# enumerate(iterable)
grocery = ["bread", "water", "olive"]
a = list(enumerate(grocery))
print(a)

[(0, 'bread'), (1, 'water'), (2, 'olive')]

In [79]:
grocery = ["bread", "water", "olive"]
b = enumerate(grocery)
for i in b:
    print(i)

(0, 'bread')
(1, 'water')
(2, 'olive')

In [80]:
grocery = ["bread", "water", "olive"]
b = dict(enumerate(grocery))
print(b)

{0: 'bread', 1: 'water', 2: 'olive'}

In [81]:
grocery = ["bread", "water", "olive"]
b = enumerate(grocery, 10) # 10 sayısı burada optional 10 dan başlaması için kullandık
for i in b:
    print(i)

(10, 'bread')
(11, 'water')
(12, 'olive')

In [82]:
print(round(3.6687895, 2))

3.67

In [84]:
numbers= [1,2,3,4,5,6,7,45,67]
print(sum(numbers))
print(sum(numbers, 100))

140
240

In [85]:
def kare(a,b):
    print(a**2 + b**2)
kare(3,5)

34

In [86]:
def multi1(a,b):
    return a * b
yeni = multi1(5, 6)
print(yeni)

30

In [89]:
def absolute_value(num):
    """
    this function give the absolute value of the number
    """
    if num >= 0:
        return num
    else:
        return -num
print(absolute_value(-12))
print(absolute_value.__doc__)

12

    this function give the absolute value of the number

In [ ]:
# Python Basics Plus-Session-15-Joseph-12/07/20  Hands On Training

In [ ]:
#Armstrong Number

In [6]:
while True:
    number = input("enter a positive number : ")
    digits = len(number)
    summ = 0

    if not number.isdigit() :
        print(number, "It is an invalid entry")

    elif int(number) >= 0:
        for i in range(digits):
            summ += int(number[i]) ** digits
        if summ == int(number):
            print(number, "is an Armstrong number. ")
            break
        else: 
            print(number, "is not an Armstrong number. " )
            break

25 is not an Armstrong number.

In [ ]:
# prime numbers

In [7]:
n = int(input("enter the number"))
count = 0
for i in range(1, n+1) :
    if not (n % i):
        count += 1
if (n == 0) or (n ==1) or (count > 2): print("It is not a prime number")
else: print("It is a prime number")

It is a prime number

In [8]:
# fibonacci Numbers

fibo = []
for i in range(-2, 8) :
    if i < 0: fibo.append(1)
    else: fibo.append(fibo[i] + fibo[i+1])
print(fibo)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [11]:
# filter içine giren fonksiyon ya true yada false döndürmeli
letters = [ "a","b","c","d","e","i","j","x","t","u"]
def fltVowel(let):
    vowel = ["a","e","i","o","u"]
    if let in vowel:
        return True
    else: return False
print(list(filter(fltVowel, letters)))

['a', 'e', 'i', 'u']

In [17]:
condition = True
a=1 if condition else 0
print(a)

1

In [20]:
condition = True
result = [1 if condition else 0]
print(result)

[1]

In [22]:
# list comprehension
my_list = [1,2,3,4,5,6]
odd_sqr =[]
for x in my_list:
    if x % 2 != 0:
        odd_sqr.append(x ** 2)
print(odd_sqr)

[1, 9, 25]

In [ ]:
#[expression for item in iterable]   köşeli parantez olmak zorunda

In [25]:
my_list = [1,2,3,4,5,6]
[x**2   for x in my_list]

[1, 4, 9, 16, 25, 36]

In [26]:
my_list = [1,2,3,4,5,6]
[x**2   for x in my_list if x % 2 !=0]

[1, 9, 25]

In [33]:
strings = ["ali","veli","ayse"]
[len(i) for i in strings]

[3, 4, 4]

In [37]:
my_list = [1,2,3,4,5,6]
a = (x**2 for x in my_list) # bu tuple olduğu için for ile okutabliriz
next(a) # adım adım çalıştırır
next(a)

4

In [39]:
my_list = [1,2,3,4,5,6]
a = (x**2 for x in my_list)
#print(list(a))
for i in a:
    print(i)

1
4
9
16
25
36

In [40]:
[x for x in "Clarusway"]

['C', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [42]:
[i for i in "beri gel berberbeer" if i !="e"]

['b', 'r', 'i', ' ', 'g', 'l', ' ', 'b', 'r', 'b', 'r', 'b', 'r']

In [ ]:
# Python Basics Plus-Session-16-Joseph-14/07/20 Arguments vs Paramaters

In [3]:
def texter(t1,t2,t3):
    print(f"{t2} {t3} {t1}")

a = "i"
b = "love"
c = "you"
texter(c,a,b)

i love you

In [6]:
def texter(t1,t2,t3):
    print(f"{t2} {t3} {t1}")
texter(t2 = "i", t3 = "love", t1 = "you")
texter(t1 = "you", t2 = "i" ,t3 = "love")

i love you
i love you

In [24]:
even_list = []
odd_list = []
def slicer(*args):
    for i in args:
        if i % 2 == 0:
            even_list.append(i)
        else: odd_list.append(i)
    print(f"even list : {even_list}  \nodd list : {odd_list}")

slicer(1,2,3,4,5,6,7,8,9)

even list : [2, 4, 6, 8]
odd list : [1, 3, 5, 7, 9]

In [6]:
def slicer(*args):
    even = [i for i in args if i % 2 ==0 ]
    odd = [i for i in args if i % 2 != 0]
    print("even : ", even)
    print("odd : ", odd)
slicer(1,2,3,4,5,6,7,8,9)

even :  [2, 4, 6, 8]
odd :  [1, 3, 5, 7, 9]

In [26]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
animals(Carnovories = "Lions", Omnivores = "Bears", Herbivores = "Deeers", Nomnivores = "Human")

Lions are Carnovories
Bears are Omnivores
Deeers are Herbivores
Human are Nomnivores

In [34]:
def orginazer(**kwargs):
    key = [i for i in kwargs.keys()]
    values = [i for i in kwargs.values()]
    print(key,'\n', values, )
orginazer(Beth=26, Oscar=42, Justin=18)

['Beth', 'Oscar', 'Justin']
 [26, 42, 18]

In [36]:
def merger(br1,br2,br3,br4):
    print(f"for me, {br1} {br4} and {br3} {br2} are geniuses.")

genius = ("bill", "rossum", "guido van", "gates")

merger(*genius)

for me, bill gates and guido van rossum are geniuses.

In [38]:
def meaner(ahmet, mehmet,burhan):
    avg = (ahmet + mehmet + burhan)/3
    return avg

friend = {"ahmet" : 44, "mehmet" : 22, "burhan" : 40}
print(meaner(**friend))

35.333333333333336

In [ ]:
damat_gelin

In [ ]:
# Python Basics Plus-Session-17-Joseph-16/07/20  The scobe of the variables

In [39]:
def foo():
    y = "local "
foo()
print(y) # hata verir çünkü local  global olması gerekir

NameError: name 'y' is not defined

In [41]:
y = "globaldeger"
def foo():
    y = "local "
foo()
print(y)

globaldeger

In [43]:
count = 1
def counter():
    global count
    print(count)
    count += 1 # eğer global yapmasaydık atama yapamazdık.
counter()
counter()

1
2

In [46]:
def func1():
    x = 'outer variable'
    def func2():
        x = "inner variable"
        print("inner: ", x)
    func2()
    print("outer: ", x)
func1()

inner:  inner variable
outer:  outer variable

In [47]:
def func1():
    x = 'outer variable'
    def func2():
        nonlocal x  # burada non local dediğimiz için bir üst fonksiyondada çalışıyor
        x = "inner variable"
        print("inner: ", x)
    func2()
    print("outer: ", x)
func1()

inner:  inner variable
outer:  inner variable

In [50]:
var = 1
def assigner(a):
    global var
    var = a
    return var
print(assigner("ahmet"))

ahmet

In [ ]:
# LAMBDA

In [ ]:
def square(x):
    return x**2

In [ ]:
lambda x: x**2

In [62]:
print((lambda x : "odd" if x % 2 != 0 else "even")(12))  #itenary

even

In [51]:
print((lambda x: x**2)(2)) # parantezli kullanımı

4

In [52]:
print((lambda x, y: (x+y)/2)(3,5))

4.0

In [56]:
average = (lambda x, y: (x+y) / 2)(3,5)
print(average)

4.0

In [57]:
text = (lambda x: x[::-1])("hasana")
print(text)

anasah

In [61]:
sayilar = [-12,21,10,2,3,4]
for i in sayilar:
    print(i, ":", (lambda x: "odd" if x % 2 != 0 else "even")(i))

-12 : even
21 : odd
10 : even
2 : even
3 : odd
4 : even

In [63]:
average = lambda x, y: (x+y)/2
print(average(3,5))

4.0

In [ ]:
# Python Basics Plus-Session-18-Joseph-18/07/20  # LAMBDA

In [64]:
a = (lambda x: x**2)(6)
print(a)

36

In [65]:
kare = lambda x: x**2
kare(4)

16

In [66]:
c = lambda x: x[::-1]
print(c("clarusway"))

yawsuralc

In [ ]:
#lambda with map  map(function, iterable)

In [67]:
iterable = [1,2,3,4,5]
result = map(lambda x: x**2, iterable)
print(list(result))

[1, 4, 9, 16, 25]

In [68]:
iterable = [1,2,3,4,5] # burda lambda ile değil normal def funtion ile yaptık
def kare(a):
    return a**2
for i in map(kare, iterable):
    print(i)

1
4
9
16
25

In [69]:
iterable = [1,2,3,4,5] # burda lambda ile değil normal def funtion ile yaptık for kullanmadık
def kare(a):
    return a**2
print(list(map(kare, iterable)))

[1, 4, 9, 16, 25]

In [71]:
num1 = [9,6,7,4]
num2 = [3,6,5,8]
ortalamam = map(lambda x,y : (x+y)/2, num1, num2)
print(list(ortalamam))

[6.0, 6.0, 6.0, 6.0]

In [76]:
word1=["you","much","hard"]
word2=["i","you","he"]
word3=["love", "ate", "works"]
cumle = map(lambda x,y,z: x +" "+y + " " +z, word2, word3,word1)
print(list(cumle))

['i love you', 'you ate much', 'he works hard']

In [77]:
word1=["you","much","hard"]
word2=["i","you","he"]
word3=["love", "ate", "works"]
cumle = map(lambda x,y,z: x +" "+y + " " +z, word2, word3,word1)
for i in cumle:
    print(i)

i love you
you ate much
he works hard

In [78]:
ten = [1,2,3,4,5,6,7,8,9]

a = filter(lambda x: x % 2 == 0, ten ) # filter direk çıktı alamaz
print(list(a))

[2, 4, 6, 8]

In [81]:
words = ["apple", "swim","clock", "me"]
cikti = filter(lambda x: len(x) >= 5, words)
print(list(cikti))

['apple', 'clock']

In [82]:
words = ["apple", "swim","clock", "me"]
cikti = filter(lambda x: len(x) >= 5, words)
for i in cikti:
    print(i)

apple
clock

In [84]:
words = ["apple", "swim","clock", "me"]
def bes(x):
    return len(x) < 5
for i in filter(bes, words):
    print(i)

swim
me

In [ ]:
# Python Basics Plus-Session-19-Joseph-19/07/20 LAMBDA & MODULES

In [6]:
def repeater(n):
    return lambda x: x*n
repeat_2 = repeater(2)
repeat_3 = repeater(3)
print(repeat_2("Alex "))
print(repeat_3("Veli "))

Alex Alex
Veli Veli Veli

In [11]:
def functioner(text):
    return lambda x: x + text
my_print_smile = functioner(" :)")
my_print_sad = functioner("):")
print(my_print_smile("hello"))
print(my_print_sad("hello "))

hello :)
hello ):

In [13]:
print((lambda x: x + " :)")("hasan"))

hasan :)

In [14]:
def x():
    return 1,2,3,4
x()

(1, 2, 3, 4)

In [15]:
for i in x():
    print(i)

1
2
3
4

In [17]:
def func_generator(function):
    return lambda x: function(x) # kendi fonksiyonumuzu oluşturduk
my_max = func_generator(max)
my_max([1,2,3,8,4])

8

In [18]:
def func_generator(function):
    return lambda x: function(x)
my_print = func_generator(print)
my_print("merhaba dunya")

merhaba dunya

In [19]:
(lambda x: max(x))([6,4,8,1,0])

8

In [20]:
def equal(a,b,c):
    numbers = [a,b,c]
    res = numbers.count(max(numbers, key = numbers.count))
    return res if res > 1 else 0

In [21]:
equal(3,3,2)

2

In [24]:
def test(x,y,z):
    print(x,y,z)
testDict = {"x":1,"y":2,"z":3}
testlist = [10,20,30]
test(*testDict)
test(**testDict)

x y z
1 2 3

In [ ]:
# built in modules

In [25]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [29]:
from math import pi, factorial,sqrt
pi
factorial(5)
sqrt(36)

6.0

In [33]:
import string
print(string.punctuation)
print(string.digits)
print(string.ascii_letters)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [35]:
import datetime
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [37]:
print(datetime.date.today())

2020-08-13

In [38]:
print(datetime.datetime.now())

2020-08-13 15:10:55.887569

In [39]:
city = ["stockholm","Istanbul","Seul"]
import random
print(random.choice(city))

stockholm

In [42]:
from datetime import date
birth = date(571,4,22)
vefat = date(632, 6 ,8)
print(date.toordinal(vefat) - date.toordinal(birth))
print(date.toordinal(vefat))

22327
230627

In [ ]:
# Python Basics Plus-Session-20-Joseph-21/07/20 packages

In [50]:
sayılar = [1,2,3,4]
print(sayılar[1])

2

In [51]:
(lambda x: x**3)(2)

8

In [52]:
say = [22,33,55,88,2,3,9]
cift = filter(lambda x: x % 2 == 0, say) # filter sadece doğruları alır.
print(list(cift))

[22, 88, 2]

In [53]:
from upper_package import my_package
from upper_package.my_package import my_module1, my_module2

In [58]:
my_package.my_module1.addition(15,2)
my_package.my_module2.hello(5,10)

hello

In [55]:
my_module1.addition(5,10)
my_module1.multi(5,20)
print(my_module1.__doc__)

This is module 1. Welcome!

In [60]:
print(dir(my_package))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'my_module1', 'my_module2']

In [62]:
sea = open("fishes.txt", "r")
print(sea.read())
sea.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [67]:
sea = open("fishes.txt", "r")
print(sea.read(33)) # ilk 33 karekteri okur
sea.seek(0)
print(sea.read(25))
print(sea.read(5))
print(sea.tell())
sea.close()

Orca is a kind of Dolphin.
Blue W
Orca is a kind of Dolphin
.
Blu
30

In [ ]:
# Python Basics Plus-Session-21-Joseph-23/07/20 FILES

In [2]:
sea = open("fishes.txt", "r")
print(sea.readline())
print(sea.readline())# satır satır okur
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

In [3]:
sea = open("fishes.txt", "r")
print(sea.readline(13))
print(sea.readline(13))# satır satır okur
print(sea.readline(13))
sea.close()

Orca is a kin
d of Dolphin.

In [4]:
sea = open("fishes.txt", "r")
print(sea.readline())
print(sea.readlines())
sea.close()

Orca is a kind of Dolphin.

['Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.\n']

In [5]:
sea = open("fishes.txt", "r")
for line in sea:
    print(line)
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [6]:
sea = open("fishes.txt", "r")
for line in sea:
    print(line[:-1]) #aradaki boşlukları kaldırır
sea.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [7]:
with open("fishes.txt", "r") as file: # with open şeklinde açarsak dosyayaı kapatmamıza gerek yok
    print(file.read())

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [8]:
with open("dummy.txt", "w", encoding="utf-8") as file: #w dosya yoksa oluşturur varsa içeriğini değiştirir.
    file.write("bu benim ilk satırım")

In [10]:
with open("dummy.txt", "r", encoding="utf-8") as file:
    print(file.read())

bu benim ilk satırım

In [14]:
fruits = ["banana","orange","apple","cherry"]
with open("fruits.txt", "w") as file:
    for i in fruits:
        file.write(i + "\n")

In [15]:
with open("fruits.txt", "r") as file:
    print(file.read())

banana
orange
apple
cherry

In [16]:
fruits = ["banana","orange","apple","cherry"]
with open("fruits.txt", "w") as file:
    file.writelines(fruits)

In [17]:
with open("fruits.txt", "r") as file:
    print(file.read())

bananaorangeapplecherry

In [19]:
fruits = ["banana\n","orange\n","apple\n","cherry\n"]
with open("fruits.txt", "w") as file:
    file.writelines(fruits)

In [20]:
with open("fruits.txt", "r") as file:
    print(file.read())

banana
orange
apple
cherry

In [21]:
with open("fruits.txt", "a") as file: # a append dir dosyaya eklwe
    file.write("melon")

In [22]:
with open("fruits.txt", "r") as file:
    print(file.read())

banana
orange
apple
cherry
melon

In [ ]:
# Python Basics Plus-Session-22-Joseph-25/07/20

In [7]:
cumle = "bir berber, gel beraber 1'inde iş yapalım bireberber "
word = {}
for i in cumle:
    if i not in word:
        word[i] = 1
    else:
        word[i] +=1
print(word)

{'b': 8, 'i': 4, 'r': 8, ' ': 8, 'e': 9, ',': 1, 'g': 1, 'l': 2, 'a': 3, '1': 1, "'": 1, 'n': 1, 'd': 1, 'ş': 1, 'y': 1, 'p': 1, 'ı': 1, 'm': 1}

In [9]:
cumle = "bir berber, gel beraber 1'inde iş yapalım bireberber "
sozluk = {}
for i in cumle:
    keys = sozluk.keys() 
    if i not in keys:
        sozluk[i] = 1
    else:
        sozluk[i] +=1
print(sozluk)

{'b': 8, 'i': 4, 'r': 8, ' ': 8, 'e': 9, ',': 1, 'g': 1, 'l': 2, 'a': 3, '1': 1, "'": 1, 'n': 1, 'd': 1, 'ş': 1, 'y': 1, 'p': 1, 'ı': 1, 'm': 1}

In [10]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
hesap = {"+" : (lambda x,y:x+y), "-": (lambda x,y:x-y), "*":(lambda x,y:x*y)}
print(hesap["-"](9,6))
print(hesap["+"](9,6))
print(hesap["*"](9,6))

3
15
54

In [18]:
for i  in [1,2,3,4,5]:
    print(i, ":", (lambda x: "even" if x%2 == 0 else "odd")(i))

1 : odd
2 : even
3 : odd
4 : even
5 : odd

In [20]:
from datetime import date
date.today()

datetime.date(2020, 8, 16)

In [22]:
from datetime import date
t = date.today()
print("içinde bulunduğumuz yıl :", t.year)
print("içinde bulunduğumuz ay :", t.month)
print("içinde bulunduğumuz gün :", t.day)

içinde bulunduğumuz yıl : 2020
içinde bulunduğumuz ay : 8
içinde bulunduğumuz gün : 16

In [25]:
dic = {i : i*"ali" for i in range(6)} # dict comprehension
print(dic)

{0: '', 1: 'ali', 2: 'aliali', 3: 'alialiali', 4: 'alialialiali', 5: 'alialialialiali'}

In [ ]:
dic = {i : i*i for i in range(6)} # dict comprehension
print(dic)

In [29]:
dic1 = { str(i) + "'in karesi " : i*i  for i in range(8)}
print(dic1)

{"0'in karesi ": 0, "1'in karesi ": 1, "2'in karesi ": 4, "3'in karesi ": 9, "4'in karesi ": 16, "5'in karesi ": 25, "6'in karesi ": 36, "7'in karesi ": 49}

In [30]:
# robotun yerini söyleyen komutlar
L = ["right 20", "right 30", "left 50", "up 10", "down 20"]
x = y = 0
for i in range(len(L)):
    if L[i].startswith("r") : x = x + int(L[i].split()[1])
    elif L[i].startswith("l") : x = x - int(L[i].split()[1])
    elif L[i].startswith("u") : y = y + int(L[i].split()[1])
    elif L[i].startswith("d") : y = y - int(L[i].split()[1])
print(x,y)
print([x,y])

0 -10
[0, -10]

In [31]:
L = ["right 20","right 30","left 50","up 10","down 20",]
x = y = 0
for i in L:
    a = i.split()
    #print(a)
    if a[0] == 'right':
        x = x + int(a[1])
    elif a[0] == 'left':
        x = x - int(a[1])
    elif a[0] == 'up':
        y = y + int(a[1])
    else:
        y = y - int(a[1])
print(x,y)

0 -10

In [ ]:
# Python Basics Plus-Session-23-Joseph-26/07/20  csv files / error exception

In [33]:
with open("fruits.csv", "r", encoding="utf-8") as file:
    print(file.read())

no,fruit,amount
1,Banana,4 lb
2,Orange, 5 lb
3,Apple, 2 lb
4,Strawberry, 6 lb
5, Cherry, 3 lb

In [32]:
import csv
with open("family.csv", "r", newline="", encoding="utf-8") as file:
    csv_row = csv.reader(file)
    for i in csv_row:
        print(i)

['no', 'first_name', 'last_name', 'ages']
['1', 'Hasan', 'Ak', '35']
['2', 'memo', 'ak', '25']
['3', 'kemal', 'ak', '26']
['4', 'celal', 'ak', '23']
['5', 'can', 'ak', '45']

In [34]:
import csv 
with open("fruits.csv","r", newline="", encoding="utf-8") as file: #newline ile hata riskini sıfıra indiririz.
    csv_rows = csv.reader(file, delimiter=",")# dosya separatörü , olduğu için default değerdir.
    for row in csv_rows:
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb ']
['2', 'Orange', ' 5 lb']
['3', 'Apple', ' 2 lb ']
['4', 'Strawberry', ' 6 lb']
['5', ' Cherry', ' 3 lb ']

In [14]:
#Write a Python code to sort by year (descending) below cars dictionary using Lambda.
cars = [{'make':'Ford', 'model':'F150 XLT','year':2018, 'color':'Gray'}, \
        {'make':'Porsche', 'model':'Cayman GT4', 'year':2016, 'color':'Gold'}, \
        {'make':'Audi', 'model': 'S7 Prestige', 'year':2017, 'color':'Blue'},\
        {'make':'Mercedes', 'model': 'S550', 'year':2019, 'color':'Black'}]
sorted(cars, key= lambda x : x["year"], reverse=True)

[{'make': 'Mercedes', 'model': 'S550', 'year': 2019, 'color': 'Black'},
 {'make': 'Ford', 'model': 'F150 XLT', 'year': 2018, 'color': 'Gray'},
 {'make': 'Audi', 'model': 'S7 Prestige', 'year': 2017, 'color': 'Blue'},
 {'make': 'Porsche', 'model': 'Cayman GT4', 'year': 2016, 'color': 'Gold'}]

In [35]:
cars = [{'make':'Ford', 'model':'F150 XLT','year':2018, 'color':'Gray'}, \
        {'make':'Porsche', 'model':'Cayman GT4', 'year':2016, 'color':'Gold'}, \
        {'make':'Audi', 'model': 'S7 Prestige', 'year':2017, 'color':'Blue'},\
        {'make':'Mercedes', 'model': 'S550', 'year':2019, 'color':'Black'}]
from operator import itemgetter
sorted(cars, key=itemgetter('year'), reverse=True)

[{'make': 'Mercedes', 'model': 'S550', 'year': 2019, 'color': 'Black'},
 {'make': 'Porsche', 'model': 'Cayman GT4', 'year': 2018, 'color': 'Gold'},
 {'make': 'Ford', 'model': 'F150 XLT', 'year': 2018, 'color': 'Gray'},
 {'make': 'Audi', 'model': 'S7 Prestige', 'year': 2018, 'color': 'Blue'}]

In [33]:
cars = [{'make':'Ford', 'model':'F150 XLT','year':2018, 'color':'Gray'}, \
        {'make':'Porsche', 'model':'Cayman GT4', 'year':2018, 'color':'Gold'}, \
        {'make':'Audi', 'model': 'S7 Prestige', 'year':2018, 'color':'Blue'},\
        {'make':'Mercedes', 'model': 'S550', 'year':2019, 'color':'Black'}]
sorted(cars, key=lambda x: (x['year'], x['make']), reverse= True )

[{'make': 'Mercedes', 'model': 'S550', 'year': 2019, 'color': 'Black'},
 {'make': 'Porsche', 'model': 'Cayman GT4', 'year': 2018, 'color': 'Gold'},
 {'make': 'Ford', 'model': 'F150 XLT', 'year': 2018, 'color': 'Gray'},
 {'make': 'Audi', 'model': 'S7 Prestige', 'year': 2018, 'color': 'Blue'}]

In [5]:
import pandas as pd
df = pd.read_csv("fruits.csv", index_col = 0)
df

         fruit  amount
no
1       Banana   4 lb
2       Orange    5 lb
3        Apple   2 lb
4   Strawberry    6 lb
5       Cherry   3 lb

In [6]:
#Write a Python code to find intersection of below lists using Lambda.
list1 = [11, 4, 5, 9, 7]
list2 = [5, 10, 4, 1, 10]
list3 = [7, 3, 9, 5, 1]
list(filter(lambda x: x in list2 and x in list3, list1))

[5]

In [8]:
#Write a Python code to find intersection of below lists using Lambda.
list1 = [11, 4, 5, 9, 7]
list2 = [5, 10, 4, 1, 10]
list3 = [7, 3, 9, 5, 1]
x = lambda list1, list2, list3 : set(list1) & set(list2) & set(list3)
x(list1, list2, list3)
(lambda x,y,z : set(x).intersection(set(y),set(z)))  (list1,list2,list3)

{5}

In [ ]:
# systax error: these types of error are detected during compiling the program into byte - code
# Exception error These type of errors are detected during the program execution (interpretation) process

In [9]:
print(int('ten')) # invalid literal for int() with base 10: 'ten' hatası verir Value error

ValueError: invalid literal for int() with base 10: 'ten'

In [10]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except:
        print("You can't divide by zero! Try again.")

You can't divide by zero! Try again.
The result of the division is :  1.0

In [ ]:
# Python Basics Plus-Session-25-Joseph-28/07/20 Exception Handling

In [ ]:
while True:
    number_one = int(input("The first number please"))
    number_two = int(input("The second number pleaese"))
    try:
        division = number_one/number_two
    except Exception as e:
        print("Something went wrong try again")
        print("probably because of the '{}' error".format(e))
    else:
        print("the result of division is : ", division)
        break
    finally:
        print("Thanks for using our mini division calculator")

In [ ]:
while True:
    
    try :
        number_one = int(input("The first number please"))
        number_two = int(input("The second number pleaese"))
        division = number_one/number_two
    except ZeroDivisionError:
        print("you can not divide by zero")
    except ValueError:
        print("you can not enter other than numeric")
    else:
        print("the result of division is : ", division)
    finally:
        print("Thanks for using our mini division calculator")
        break

In [ ]:
while True:
    
    try:
        fruits = ["banana", "mango", "pear", "apple", "kiwi", "grape"]
        select = int(input("enter the index number your fruit"))
        print(f"My favorite fruit is {fruits[select]} ")
        break
    except IndexError:
        print("There is no such an index Try Again")
    except ValueError:
        print("there is no such a value")

In [14]:
xx = {"e" : 4, "b" : 2, "c" : 3, "f" : 1}
#sorted(xx.items())[2]
sorted(xx.items())

[('b', 2), ('c', 3), ('e', 4), ('f', 1)]

In [25]:
xx = {"e" : 4, "b" : 2, "c" : 3, "f" : 1}
#sorted(xx.items())
sorted(xx.items(), key = lambda x : x[0])  # key fonksiyon yada metod alır

[('f', 1), ('b', 2), ('c', 3), ('e', 4)]

In [1]:
my_list = [1, 2,3,4,5]
a = (x**2 for x in my_list)
print(list(a))

[1, 4, 9, 16, 25]

In [2]:
my_list = [1, 2,3,4,5]
sum(x**2 for x in my_list)

55

In [6]:
my_list = [1, 2,3,4,5]
my_list1 = []
for x in my_list:
    my_list1.append(x**2)
sum(my_list1)

55

In [5]:
my_list = [1, 2,3,4,5]
sum(my_list)

15

In [7]:
my_list = [1, 2,3,4,5]
max(x**2 for x in my_list)

25

In [8]:
eskim = ["kedi", 0,5,6,7]
yenim = eskim.copy()
yenim.append("tavşan")
print(eskim)
print(yenim)

['kedi', 0, 5, 6, 7]
['kedi', 0, 5, 6, 7, 'tavşan']

In [9]:
yenim = eskim[:] # copy() metodu iile aynı işlemi görüyor
yenim.append("dana")
print(yenim)

['kedi', 0, 5, 6, 7, 'dana']

In [11]:
diller = ["fransızca", "ingilizce", "flemenkce"]
diller2 = ["ispanyolca", "Arapça"]
diller + diller2 # ikinciyi birinciye ekler
diller.extend(diller2)
print(diller)

['fransızca', 'ingilizce', 'flemenkce', 'ispanyolca', 'Arapça']

In [ ]:
diller = ["python", "java","c++","fransız","c"]
yenideger = diller.pop(3)
print(yenideger)
print(diller)

In [13]:
def facto(n): # recursion, recursive FONKSİYON İÇİNDE FONKSİYON KULLANMA
    if n == 1:
        return n
    else:
        return n * facto(n - 1)
facto(6)

720